<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="Telemetry.Core"/>
	</extensions>

	<variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}","environment":"prd","level":"${level}","logger":"${logger}","host":"${machinename}","event":${message}}'/>

	<targets async="true">
		<target name="LogglyWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard" timeToSleepBetweenBatches="1000">
			<target name="Loggly" xsi:type="Loggly"
					layout="${json}"
					URL="https://logs-01.loggly.com/inputs/4267e702-b7ee-4ee4-835b-80a9a83cc2df/tag/hudl-api"
					bufferNumber="0"
					shouldBuffer="false"
					flushSeconds="0"/>
		</target>
	</targets>


	<rules>
		<logger name="*" minlevel="Info" writeTo="LogglyWrapper" />
	</rules>
</nlog>