<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Telemetry.Core"/>
  </extensions>

  <variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}","environment":"prd","level":"${level}","logger":"${logger}","host":"${machinename}","event":${message}}'/>

  <targets async="true">
    <target name="LogglyWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard" timeToSleepBetweenBatches="1000">
      <target name="Loggly" xsi:type="Loggly"
              layout="${json}"
              URL="{YOUR-LOGGLY-URL}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogglyWrapper" />
  </rules>

</nlog>