<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Core -->
		<add key="Environment" value="dev" />
		<add key="ConfigCacheTimespan" value="00:02:00" />
		<add key="LoggingEnabled" value="true" />
		<!-- Event processing -->
		<add key="DeepStorage.InputConnectionString" value="[EVENT-HUB-CONNECTION-STRING]" />
		<add key="DeepStorage.EventHubName" value="device-events" />
		<add key="DeepStorage.ConsumerGroupName" value="deep-storage" />
		<add key="DeepStorage.CheckpointConnectionString" value="[STORAGE-CONNECTION-STRING]" />
		<!-- Storage -->
		<add key="DeepStorage.OutputConnectionString" value="[STORAGE-CONNECTION-STRING]" />
		<add key="DeepStorage.OutputContainerName" value="device-events" />
		<!-- Event Stores -->
		<add key="EventStores.MemoryEventStore.MaxBufferSize" value="8388608" />
		<!-- 8388608 = 8MB -->
		<add key="EventStores.DiskEventStore.MaxBufferSize" value="16777216" />
		<!-- 16777216 = 16MB -->
		<add key="EventStores.BlobStorageEventStore.MaxBufferSize" value="4194304" />
		<!-- 4194304 = 4MB -->
		<add key="EventStores.OverdueFlushPeriod" value="00:05:00" />
	</appSettings>

	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="Telemetry.Config.Cache" cacheMemoryLimitMegabytes="5" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>