<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}",,"level":"${level}","event":${message},"logger":"${logger}","environment":"dev","host":"${machinename}"}'/>

  <targets async="true">
    <target name="FileWrapper" xsi:type="AsyncWrapper" queueLimit="50" overflowAction="Discard">
      <target name="File" xsi:type="File"
                layout="${json}"
                fileName="${basedir}/telemetry.deepstorage.log"
                archiveFileName="${basedir}/telemetry.deepstorage-archive{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileWrapper" />
  </rules>

</nlog>